# Assignment 2 (Part 2)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

We will explore a dataset, usually used in machine learning to perform classification. It has several demographic features of an adults and a column that shows whether they have an income of atleast 50k. Ofcourse, before performing machine learning we need to visualise clean the dataset and visualise so as to ascertain whether it will give reliable results.

**Question 1** Read the dataset `adults.csv` into the variable `adultsData`. `fnlwgt` is the index column.

In [2]:
#Write your code here
adultsData = pd.read_csv('adultscopy.csv', index_col='fnlwgt')
adultsData.head(5)

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
fnlwgt,,,,,,,,,,,,,,
226802.0,25.0,Private,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
89814.0,38.0,Private,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
336951.0,28.0,Local-gov,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
160323.0,44.0,Private,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
103497.0,18.0,NaN,Some-college,10.0,Never-married,NaN,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K

**Question 2** Convert all numerical columns, including the index, into the `int` datatype.

**Question 3** Map the income column to `0` for `<= 50k` and `1` otherwise.

**Question 4** Change the name of the column `education-num` to `years of education` and `relationship` to `relationship status`. Replace dashes in the index names with spaces (without hardcoding).

**Question 5** Convert all the string columns into the `string` datatype.

**Question 6** Replace Dash(-) with space(" ") in the entire dataset

**Question 10** Visualize the number of missing values for only the columns with missing values.

**Question 11** In this question we will deal with null values. Replace the null values in each column with the non-null categorical mode of the column with the years of education. What that means is for each unique value of `years of education` find the mode of column's non-null rows, and replace null with the respective mode.

**Question 12** Combine `capital gain` and `capital loss` columns into `capital profit`. Insert `capital profit` into `adultsData` right before `income`.

**Question 23** Make a function `column_describe` that receives `adultsData` and the column name and returns the column description as returned by `adultsData.describe()`.

**Question 24** Make another function `describe` that receives the dataset and uses the above function to describe the dataframe exactly as adultsData.describe() would do it. Use loops if needed.

 Age Distribution: Create a histogram or density plot to visualize the distribution of ages in the dataset.

Education Level Distribution: Generate a bar chart or pie chart to display the distribution of education levels among the individuals in the dataset.

Create a grouped bar chart to show the gender and race representation within the dataset. This can help you understand the diversity of the population.